{% extends "base.html" %}
{% block title %}Registered Users{% endblock %}

{% block content %}
<h2>Registered Users</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Pin Code</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ users.index(user)+1 }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.pin_code }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
